<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>John McCabe CA1</title>
    <link href="https://cdn.jsdelivr.net/bootstrap/2.3.2/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <header class="page-header">
        <h1>Petition Platform</h1>
    </header>

    <nav>
        <ul class="nav nav-pills">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/list-petitions">List Petitions</a></li>
            <li><a href="/create-petition">Create Petition</a></li>
            <li><a href="/search-petitions">Search Petition</a></li>
        </ul>
    </nav>

    <div class="row">
        <div class="span12">
            <h2>Welcome to our Petition Platform</h2>
            <p>Explore and sign petitions created by the community.</p>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/jquery/1.7.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>
