<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Petitions</title>
</head>
<body>
<h1>List of Petitions</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate through the list of petitions and display each one -->
    <tr th:each="petition : ${petitions}">
        <td th:text="${petition.id}">-</td>
        <td th:text="${petition.title}">-</td>
        <td th:text="${petition.description}">-</td>
        <td>
            <!-- Add a button to sign the petition -->
            <form action="/sign-petition-form" method="get">
                <input type="hidden" name="petitionId" th:value="${petition.id}">
                <button type="submit">Sign</button>
            </form>
            <form th:action="@{/view-signers/{petitionId}(petitionId=${petition.id})}" method="get">
                <button type="submit">View Signers</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h2>if you want to search for a particular petition please enter your query here</h2>
<form action="/search-petitions" method="get">
    <input type="text" name="query" placeholder="Search Petitions">
    <button type="submit">Search</button>
</form>
<a href="/">Back to Home</a>
</body>
</html>
